$header-height:44px !default;
$base-backgroud:#f6f6f6 !default;
$base-box-shadow:0px 1px 2px 0px rgba(0, 0, 0, 0.08) !default;
$theme-color:#F10215 !default;
$border_style: 0.5px solid #E9E9E9;
$base-font-family:"Helvetica Neue",
Helvetica,
Arial,
sans-serif;